/*styling for tags*/
body{
	margin: 0px;
	padding: 0px;
	color: #575555;
	background-color: #f9f9f9;
}
nav{
	background-color: #241f1d;
    padding: 3px;
}

p{
    font-family: sans-serif;
    font-weight: normal;
    text-align: justify;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
button{
    cursor: pointer
}
a{
    z-index: 1;
}




/*Styling using classes*/
.orangeHover :hover{
    color: #ff6c00;
}
.blueHover:hover{
    color: deepskyblue;
    text-shadow: 1px 1px grey;
}
/*positioning*/
.bottom{
    position: absolute;
    bottom: 0;
    width: 99.5%;
}
.top{
    position: absolute;
    top: 0;
}
.right{
    position: absolute;
    right: 0;
}
.left{
    position: absolute;
    left: 0;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed
}
.top0{
    top: 0px;
}



/*display*/
.inline{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.block{
    display: block;
}
.inlineBlock{
    display: inline-block;
}
.none{
    display: none;
}


.center{
    text-align: center;
}
.right{
    text-align: right;
}

/*float*/
.rightFloat{
	float: right;
}


/*margin*/
.margin{
	margin: 10px;
}
.margin0{
    margin: 0px;
}
.marginBottom0{
    margin-bottom: 0px;
}
.marginTop0{
    margin: 0px 5px 15px 5px;
}
.margin20{
	margin: 20px;
}
.marginTop{
    margin-top: 10px;
}
.marginBottom{
    margin-bottom: 10px;
}
.marginBottom35{
    margin-bottom: 35px;
}
.marginTop35{
	margin-top: 35px;
}
.marginTop{
	margin-top: 10px;
}
.marginLeft{
    margin-left: 10px
}
.marginLeft20{
	margin-left: 20px;
}.marginLeft30{
	margin-left: 30px;
}
.marginTop25{
    margin-top: 25px;
}
.marginSide{
    margin: 0px 10px;
}
.marginSide0{
    margin: 10px 0px;
}
.marginTopBottom25{
    margin: 25px    10px;
}


/*padding*/
.padding{
	padding: 5px;
}
.padding0{
    padding: 0px;
}
.paddingLeft20{
    padding-left: 20px;
}
.paddingLeft{
    padding-left: 10px;
}
.paddingRight{
	padding-right: 20px;
}
.padding20{
	padding: 20px;
}
.paddingTop0{
    padding-top: 0;
}
.paddingTop{
    padding-top: 10px;
}
.paddingBottom0{
    padding-bottom: 0;
}
.paddingBottom{
    padding-bottom: 10px;
}
.paddingSide{
    padding: 0 10px;
}
.paddingSide0{
    padding: 10px 0px;
}
.paddingTop30{
    padding-top: 30px;
}
.zero{
    margin: 0px;
    padding: 0px;
}

/*border*/
.border{
    border: 1px darkgray solid;
}
.customBorder{
	border-radius:0px 50px;
}
.borderRadius{
    border-radius: 8px; 
}
.borderTop{
    border-top: 1px lightgrey solid;
}
.borderBottom{
    border-bottom: 1px lightgrey solid;
}
.borderSide0{
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
}
.borderRight{
    border-right: 1px grey solid;
}
.capsule{
    border-radius: 50px;
}
.border0{
    border: 0px;
}
.round{
    border-radius: 50%;
}
.where{
    border: 3px red solid;
}

/*colors*/
.red{
    color: #db3333;
}
.white{
    background-color: #f9f9f9;
}
.whiteText{
	color: #f5f0f0;
}
.grey{
    color: #dbdbdb;
}
.greyBackground{
    background-color: #3b3838;
}
.greenBackground{
    background-color: green;    
}
.black{
	color: #3e3c3c;
}
.blue{
    color: blue;
}
.skyBlue{
    color: deepskyblue;
}
.skyblueBackground{
    background-color:  deepskyblue;
}
.redBackground, .red{
    background-color: #db3333;
}
.redText{
    color: #d90a0a;
}
.blackBackground{
    background-color: #241f1d;
}
.orangeBackground{
    background-color: #ff7200;
}
.blueBackground{
    background: #275869;
}
.orange{
    color: #ff7200;
/*    ff6c00;*/
}

/*text styling*/
.textShadow{
    text-shadow: 2px 2px grey;
}
.large{
    font-size: large;
}
.decorationNone{
	text-decoration: none;
}
.xlarge{
	font-size: x-large;
}
.quotes{
    font-size: xx-large;
    font-style: oblique;
}
.justify{
    text-align: justify;
    overflow: scroll    
}
.jumbo{
    font-size: 3em;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline      
}
.cut{
    text-decoration: line-through;
}


.shadow{
    box-shadow: 10px 5px 4px #888;
}
.styleNone{
	list-style: none;
}
.bar{
    background-color: #e2e2e2;
}
.clearBoth:after{
    clear: both;
    content: '';
    display: table;
}
.closeButton {
    color: #aaaaaa;
    float: right;
}

.closeButton:hover,
.closeButton:focus {
    color: #cb0000;
    text-decoration: none;
    cursor: pointer;
}
.opacity{
    opacity: 0.7;
}
.pointer{
    cursor: pointer;
}
.z-index{
    z-index: 1000;
}       
.height100{
    height: 95%;
    width: 100%
    margin-top: 0;
    margin-bottom: 0;
}









/*media queries for desktop*/
@media only screen and (min-width: 1250px)
{
/*    Company name*/
    #name{   
        margin-top: 35px;
        padding-top: 30px;
    }
/*    shadow*/
    .cards{
        box-shadow: 10px 10px 5px grey;
        text-align: justify;
        width: 98%;
    }
/*    logo*/
    #logo{
        height: 120px;
        width: 8%;
    }
    .logoc{
        width: 30%;
        height: 121px;
    }
/*    card image*/
    .cardImg{
        margin-left: 25px;
        width: 275px;
        box-shadow: 10px 10px 5px grey;
    }
/*    footer*/
    .footerBar{
        position: fixed;
        bottom: 0px;
        clear: both;
        display: table;
        height: 80px;
        width: 99.5%;
    }
/*    text alignment in footer*/
	.textAlign{
		width: 80%;
		text-align: justify;
	}
/*    image alignment in footer(parsinni bibi)*/
	.imgAlign{
		width: 200px;
        float: right;
        right: 45px;     /*40*/
        bottom: 0;
        clear: both;
        position: absolute;
        top: -170px;        /*174*/
	}
    
    .desc{
        right: 150px;
        position: absolute;
        clear: both;
    }
/*    text overlapping image*/
    .bannerText{
        position: absolute;
        top:  350px;
        left: 30px;
    }
/*    main imag of the page*/
    .banner{
        width: 100%;
        display: flex;
        background-size: cover;
    }
/*    main navigation bar*/
    #navBar{
        margin: 0;
        padding: 0;
    }
/*    for quotations*/
    .quoteBox{
        width: 78%;
    }  
    
/*    popup modals*/
    .modal{
        width: 40%;
        background-color: #f9f9f9;
        position: absolute;
        top: 50%;
        left: 50%;
    }
/*    for inputs among form tag*/
    .formInput{
        width: 97%;
        margin: auto;
    }
/*    sub navigation bar*/
    #service:hover #subNav{
        display: block; !important
        background-color: #241f1d;
        position: absolute;
        padding: 10px;
        top: 30px;
        left: 100px;    
    }
/*    divide screen in 3 parts for social*/
    .divide3{
        width: 30%;
        height: 90%;
        padding: 10px;
        display: inline-block;
        overflow: auto;
    }
/*    specifying height of embede social media*/
    .embedSocial{
        height: 500px;
    }
    .rightFloata{
	float: right;
}
    
}

/*media queries for desktop*/
@media only screen and (min-width: 940px) and (max-width:1249px)
{
/*    Company name*/
    #name{   
        margin-top: 35px;
        padding-top: 30px;
    }
/*    shadow*/
    .cards{
        box-shadow: 10px 10px 5px grey;
        text-align: justify;
        width: 98%;
    }
/*    logo*/
    #logo{
        height: 120px;
        width: 8%;
    }
    .logoc{
        width: 30%;
        height: 121px;
    }
/*    card image*/
    .cardImg{
        margin-left: 25px;
        width: 275px;
        box-shadow: 10px 10px 5px grey;
    }
/*    footer*/
    .footerBar{
        position: fixed;
        bottom: 0px;
        clear: both;
        display: table;
        height: 80px;
        width: 99.5%;
    }
    .navHeight{
        height: 50px;
        padding-top: 27px;
        margin-bottom: 10px;
    }
/*    text alignment in footer*/
	.textAlign{
		width: 80%;
		text-align: justify;
	}
/*    image alignment in footer(parsinni bibi)*/
	.imgAlign{
		width: 200px;
        float: right;
        right: 45px;     /*40*/
        bottom: 0;
        clear: both;
        position: absolute;
        top: -170px;        /*174*/
	}
    .hide{
        display: none; !important
    }
    .desc{
        right: 150px;
        position: absolute;
        clear: both;
    }
/*    text overlapping image*/
    .bannerText{
        position: absolute;
        top:  350px;
        left: 30px;
    }
/*    main imag of the page*/
    .banner{
        width: 100%;
        display: flex;
        background-size: cover;
    }
/*    main navigation bar*/
    #navBar{
        margin: 0;
        padding: 0;
    }
/*    for quotations*/
    .quoteBox{
        width: 78%;
    }  
/*    popup modals*/
    .modal{
        width: 40%;
        background-color: #f9f9f9;
        position: absolute;
        top: 50%;
        left: 50%;
    }
/*    for inputs among form tag*/
    .formInput{
        width: 97%;
        margin: auto;
    }
/*    sub navigation bar*/
    #service:hover #subNav{
        display: block; !important
        background-color: #241f1d;
        position: absolute;
        padding: 10px;
        top: 30px;
        left: 100px;    
    }
/*    divide screen in 3 parts for social*/
    .divide3{
        width: 30%;
        height: 90%;
        padding: 10px;
        display: inline-block;
        overflow: auto;
    }
/*    specifying height of embede social media*/
    .embedSocial{
        height: 500px;
    }
    .rightFloata{
	float: right;
}
    
}


















/*media queries for tablet*/
@media only screen and (min-width: 760px)
{
/*    Company name*/
    #name{   
        margin-top: 25px;
        padding-top: 20px;
    }
/*    shadow*/
    .cards{
        box-shadow: 8px 8px 5px grey;
        text-align: justify;
        width: 98%;
    }
/*    logo*/
    #logo{
        height: 100px;
        width: 130px;
    }
/*    card image*/
    .cardImg{
        margin-left: 20px;
        width: 255px;
        box-shadow: 10px 10px 5px grey;
    }
/*    footer*/
    .footerBar{
        position: fixed;
        bottom: 0px;
        clear: both;
        display: table;
        height: 80px;
        width: 99.5%;

    }
/*    text alignment in footer*/
	.textAlign{
		width: 80%;
		text-align: justify;
	}
/*    image alignment in footer(parsinni bibi)*/
	.imgAlign{
		width: 200px;
        float: right;
        right: 45px;     /*40*/
        bottom: 0;
        clear: both;
        position: absolute;
        top: -170px;        /*174*/
	}
    
    .desc{
        right: 150px;
        position: absolute;
        clear: both;
    }
/*    text overlapping image*/
    .bannerText{
        position: absolute;
        top:  350px;
        left: 30px;
    }
/*    main imag of the page*/
    .banner{
        width: 100%;
        display: flex;
        background-size: cover;
    }
/*    main navigation bar*/
    #navBar{
        margin: 0;
        padding: 0;
    }
/*    for quotations*/
    .quoteBox{
        width: 78%;
    }  
/*    popup modals*/
    .modal{
        width: 40%;
        background-color: #f9f9f9;
        position: absolute;
        top: 50%;
        left: 50%;
    }
/*    for inputs among form tag*/
    .formInput{
        width: 97%;
        margin: auto;
    }
/*    sub navigation bar*/
    #service:hover #subNav{
        display: block; !important
        background-color: #241f1d;
        position: absolute;
        padding: 10px;
        top: 30px;
        left: 100px;    
    }
/*    divide screen in 3 parts for social*/
    .divide3{
        width: 30%;
        height: 90%;
        padding: 10px;
        display: inline-block;
        overflow: auto;
    }
/*    specifying height of embede social media*/
    .embedSocial{
        height: 500px;
    }
    .adjustBlock{
        display: block;
    }
    .centerT{
        text-align: center;
    }
}

